<div class="my-3">
    <h1>FromEvent</h1>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add Video
                </div>
                <div class="card-body">
                    <button #addbtn class="btn btn-primary">Add Video</button>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elcontainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
                <div class="card-body">
                    <ul id="elcontainer2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>