<div class="my-3">
  <h1>Of-From</h1>
  <br />
  <strong> Ex -01(of)</strong>
  <div class="row">
    <div class="col-md-6">
      <p>Converts the argument to an Observable</p>
      <p class="border rounded py-2 px-3 bg-light">
        <strong>Data:</strong>of('Rahul','sukhvir','Sunny')
      </p>
      <hr />
      <ul id="elcontainer"></ul>
    </div>
  </div>

  <strong> Ex -02(from)</strong>
  <div class="row">
    <div class="col-md-4">
        <p>
          Creates an observable from an array,array-like objects,a Promise,an
          iterable object, or an Observable like object
        </p>
        <p class="border rounded py-2 px-3 bg-light">
          <strong>Data:</strong>From(['Rahul','sukhvir','Sunny'])
        </p>
        <hr />
        <ul id="elcontainer1"></ul>
      </div>

    <div class="col-md-4">
      <p class="border rounded py-2 px-3 bg-light">
        <strong>Data:</strong>From Promise
      </p>
      <hr />
      <ul id="elcontainer2"></ul>
    </div>

    <div class="col-md-4">
      <p class="border rounded py-2 px-3 bg-light">
        <strong>Data:</strong>From string
      </p>
      <hr />
      <ul id="elcontainer3"></ul>
    </div>

    
  </div>
</div>
