<div class="my-3">
    <h1>Map</h1>
    <br>

    <div class="row">
        <div class="col-md-4">
            <p class="border rounded py-2 px-3 bg-light">
                <strong>Map:</strong>'video'+ data
              </p>
              <hr />
              <p>Data: <strong class="text-success">{{msg}}</strong></p>
        </div>

        <div class="col-md-4">
            <p class="border rounded py-2 px-3 bg-light">
                <strong>Map:</strong> data * 3
              </p>
              <hr />
              <p>Data: <strong class="text-success">{{msg2}}</strong></p>
        </div>

        <div class="col-md-4">
            <p class="border rounded py-2 px-3 bg-light">
                <strong>Map:</strong>'video'+ data
              </p>
              <hr />
              <ul id="elcontainer"></ul>
        </div>
    </div>
</div>